:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #494949;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-efeito: rgb(55, 0, 128);
    --fonte-principal: 'inter';
}

body {
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    height: auto;
    padding: 2em;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    text-align: center;
    font-size: 18px;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    padding: 0.5em 1em;
    text-align: center;
    font-size: 18px;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 2em;
}

.descrição__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.5em;
}

.descrição__texto {
    color: var(--cinza-secundario);
}

.secundario_botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descrição {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    flex-wrap: wrap;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    align-items: center;
    text-align: center;
    padding: 2em;
}

.imagem__logo {
    padding: 0;
    height: 150px;
}

.lista__link a {
    padding: 0 0.5em 1em;
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 20px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.rodape__texto {
    margin: 1em 0;
}

.efeito:hover {
    opacity: 0.5;
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.efeito__botao:hover {
    background-color: var(--botao-efeito);
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .secundario {
        margin: 0 2em;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        font-size: 50%;
    }

    .secundario {
        margin: 0 1em;
    }

    .lista__item {
        font-size: 24px;
    }
}
